:root{
  font-size: 18px;
}

article {
  padding: 20px;
  max-width: 40rem;
  margin:auto;
}

 
.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
  padding: 10px;
  font-size: 16px;
}
li{
  list-style: none;
}
.chart-dropdown{
  display: flex;
  max-width: 10rem;
  margin: auto;
}


.budget-text {
  font-size: 1.5em; 
  font-weight: bold; 
}


.table-header span,
.table-row span {
  display: inline-block;
  padding: 10px 15px; 
  text-align: left;
  vertical-align: middle; 
}


.where-column {
  padding-left: 10px; 
}


.table-row:nth-child(even) {
  background-color: #f2f2f2; 
}


.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.see-outline > div { border: solid; }

.latest-scans-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.latest-scans-header {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  background-color: darkorange;
  padding: 8px;
}

.latest-scans-table {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 8px;
  font-weight: bold;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.table-row:last-child { border-bottom: none; }

.history-container {
  max-width: 600px;
  margin: auto;
  text-align: center; 
}


.history-container .button-and-date-picker-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px; 
}


.history-container .buttons-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 10px; 
}


.history-container .choose-date-btn,
.history-container .manual-entry-btn {
  margin: 0 5px; 
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.3s; 
}

.history-container .choose-date-btn {
  background-color: #007bff; 
  color: white;
}

.history-container .manual-entry-btn {
  background-color: darkorange;
  color: white;
  display: flex; 
  align-items: center; 
}


.history-container .manual-entry-btn .calendar-icon {
  margin-right: 5px; 
}


.history-container .manual-date-input {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block; 
}


.history-container .confirm-date-btn {
  background-color: darkorange; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}


.receipts-list {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.receipt-entry {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.receipt-entry:last-child { border-bottom: none; }

.receipt-date, .receipt-description, .receipt-amount {
  font-weight: bold;
  color: #333; 
}

.receipt-description { color: #555; }
.receipt-amount { color: #d9534f;  }


.react-datepicker {
  font-size: 1em;
}

.react-datepicker__header {
  background-color: #f0f0f0;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.5em;
  line-height: 2.5em;
  margin: 0.166em;
}


.react-datepicker__day--selected {
  background-color: darkorange !important; 
  color: white; 
}


.react-datepicker__day--selected:hover {
  background-color: darkorange !important; 
  color: white;
}


.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-selecting-range-start,
.react-datepicker__day--in-selecting-range-end,
.react-datepicker__day--selected {
  background-color: darkorange !important; 
  color: white;
}


.react-datepicker__day--keyboard-selected {
  background-color: darkorange !important; 
  color: white;
}

.settings input[type="password"],
.settings input[type="email"] {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid darkorange; 
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.settings button {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: darkorange;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.settings button:hover {
  background-color: #0056b3;
}

.settings .delete-account-btn {
  background-color: #dc3545;
}

.settings .delete-account-btn:hover {
  background-color: #c82333;
}

.settings .confirm-btn {
  margin-top: 10px;
}

.settings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkorange;
  font-size: 24px;
  margin-bottom: 20px;
}

.settings-header .settings-icon {
  color: darkorange;
  margin-left: 10px;
}

.settings-header-text-and-icon {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings-header-text {
  order: 1;
}

.settings-icon {
  order: 2;
}

.settings {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.password-input input {
  width: 100%;
  padding-right: 30px;
}

.password-input i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.chart-container {
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chart-dropdown {
  margin-top: 20px;
}

.latest-scans-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

button {
  background-color: darkorange;
  color: white;
  padding: 10px 20px;
  border: 2px solid orangered; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; 
  display: inline-block; 
  text-align: center; 
  transition: background-color 0.3s, color 0.3s;
  margin: 10px;
}

button a {
  text-decoration: none;
  color: white;
}


button:hover {
  background-color: #e65c00; 
  color: #ffffff;
}

input {
  border-radius: 5px ;
  border-color: lightgray;
  font-size: 18px;
  
}


.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.settings-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.settings-icon {
  font-size: 24px;
  margin-right: 10px;
}

.settings-title {
  font-size: 32px;
  color: #333;
}

.settings-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.settings-section {
  margin-bottom: 30px;
}

.section-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.password-form,
.email-form {
  margin-bottom: 20px;
}

.password-input {
  position: relative;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.change-btn,
.confirm-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.change-btn {
  background-color: #007bff;
  color: #fff;
}

.confirm-btn {
  background-color: #28a745;
  color: #fff;
}

.delete-account-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}


@media (max-width:700px){
  article{
    padding: 0px;
  }
  .grid{
    grid-template-columns: 1fr;
  }
  .chart-container{
    font-size: 14px;
  }
  .latest-scans-container{
    font-size: 14px;
  }

}

.welcome-message {
  text-align: center;
  margin-bottom: 30px;
}

.welcome-message h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.welcome-message h3 {
  font-size: 18px;
  font-weight: normal;
  color: #666;
}

.no-expenses-message {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #888;
}