FLASK_APP=run.py
FLASK_ENV=development
TESTING=true
DATABASE_URL=postgresql://username:password@localhost/expensease
TEST_DATABASE_URL=postgresql://username:password@localhost/expensease_test
SECRET_SESSION_KEY=SKGNaJDK1d034cma!l1
SESSION_FILE_DIR=path/to/flask_session