.navbar {
    
    background-color: darkorange;
    overflow:hidden;

}

.navbar ul {

    list-style-type: none;
    margin: 0;
    
}

.navbar li {

    font-size: 25px;
    float:left;
    
}

.navbar a {

    display:block;
    text-decoration:none;
    color: white;
    padding: 20px;

}

.navbar a:hover {
    background-color: rgb(76, 76, 76);


}

.active {

    font-weight: bold;
    background-color: orangered;
}